:root {
    --font-size-m: 1rem;
    --font-size-b: 1.2rem;
    --font-size-s: .8rem;

    --padding-size-m: 1rem;
    --padding-size-s: .5rem;

    --text-color: #1a1a1a;
    --text-color-white: #ffffff;
    --text-color-unimportant: #c0c0c0;

    --color-active: #2e2e2e;
    --color-state: #444444;

    --background-color: #f5f5f5;
    --background-color-complement: #fcfcfc;
    --background-color-complement-hover: #f1f1f1;

    --start-sim-button-color: #80bbff;
    --start-sim-button-color-hover: #75abe9;
    --pause-sim-button-color: #fdc166;
    --pause-sim-button-color-hover: #ecb35e;
    --stop-sim-button-color: #ff6d59;
    --stop-sim-button-color-hover: #ee6452;

    --speed-button-color: #ffbe45;
    --speed-button-color-hover: #ebae3c;
    --speed-button-color-active: #ffbe45;

    --algorithm-button-color: #6973f7;
    --algorithm-button-color-active: #828aff;
    --algorithm-button-color-hover: #626be4;

    --color-border: #dadada;

    --color-box-border: #f5f5f5;

    --color-ground: #e2e2e2;
    --color-ground-hover: #cecdcd;

    --color-wall: #201d1d;
    --color-wall-hover: #0c0b0b;

    --color-start: #70ff63;
    --color-start-hover: #61dd56;

    --color-finish: #ff5e5e;
    --color-finish-hover: #db5050;

    --color-visited: #85e1f8;
    --color-path: #ffd700;
}

.dark-mode {
    --text-color: #dcd7d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

main {
    margin-top: 3.5rem;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.asset-selection-area .disabled-button,
.shape-selection-area .disabled-button {
    box-shadow: none;
}

.active-text-color {
    color: var(--color-active);
}

.active-bg-color {
    background: var(--background-color-complement)!important;
}

.selected {
    background: var(--speed-button-color-active)!important;
}

.hidden {
    display: none!important;
}

.vertical-area {
    display: flex;
    flex-direction: column;
}

.horizontal-area {
    display: flex;
}

.shape-selection-area {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    padding: 1rem;
    border-top: .0625rem solid var(--color-border);
    border-bottom: .0625rem solid var(--color-border);
}

.shape-selection-area button {
    font-size: var(--font-size-s);
    color: var(--text-color-unimportant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 6.5rem;
    height: 6.5rem;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background: none;
    transition: background 0.1s;
}

.shape-selection-area button:hover {
    background: var(--background-color-complement-hover)!important;
}

.shape-selection-area button .label {
    position: absolute;
    top: .25rem;
    left: .25rem;
}

.shape-selection-area button .image {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    margin-top: .5rem;
    background-color: var(--color-background-color-complement);
}

#circleButtonImage > :nth-child(3) > :nth-child(3) {
    background-color: var(--color-background-color-complement);
}

.button-image-square {
    border: 1px solid var(--background-color);
    background-color: var(--color-ground);
}

.algorithm-selection-area {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    padding: 1rem;
    border-bottom: .0625rem solid var(--color-border);
}

.algorithm-selection-area button{
    font-size: var(--font-size-s);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 12rem;
    height: 2rem;
    border: none;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.1s, outline 0.1s;
    font-weight: 500;
    background: transparent;
    outline: .0625rem solid var(--algorithm-button-color);
}

.algorithm-selection-area button:hover{
    background: var(--algorithm-button-color-hover)!important;
    outline: .0625rem solid var(--algorithm-button-color-hover)!important;
}

.algorithm-active-button {
    background: var(--algorithm-button-color-active)!important;
    outline: .0625rem solid var(--algorithm-button-color-active)!important;
}

.control-panel {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    padding: 1rem;
    border-bottom: .0625rem solid var(--color-border);
}

.control-panel-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.control-panel button{
    font-size: var(--font-size-s);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.1s;
    font-weight: 500;
    color: var(--text-color-white);
}

.control-panel button .image{
    font-size: var(--font-size-m);
    margin-right: 1rem;
}

#startSimulationButton { background: var(--start-sim-button-color); }
#startSimulationButton:hover { background: var(--start-sim-button-color-hover); }
#pauseSimulationButton { background: var(--pause-sim-button-color); }
#pauseSimulationButton:hover { background: var(--pause-sim-button-color-hover); }
#resetSimulationButton { background: var(--stop-sim-button-color); }
#resetSimulationButton:hover { background: var(--stop-sim-button-color-hover); }

.time-area {
    margin-left: 2rem;
}

.time-area .label {
    font-size: var(--font-size-s);
    color: var(--text-color-unimportant);
}

.info-area {
    margin-left: 2rem;
}

.info-area .label {
    font-size: var(--font-size-s);
    color: var(--text-color-unimportant);
}

.info-area .message {
    font-size: var(--font-size-m);
    color: var(--color-state);
}

.asset-selection-area {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 6rem;
    padding: 1rem;
    border-right: .0625rem solid var(--color-border);
    min-height: calc(100vh - 21.5rem);
    justify-content: space-between;
}

.asset-selection-area .main-buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#displayArea {
    display: block;
    padding: 1rem;
}

/*
*   TILE SQUARES
*/

.tile {
    width: 2.25rem;
    height: 2.25rem;
    border: .0625rem solid var(--color-box-border);
    box-sizing: border-box;
    transition: background-color 0.2s, border-radius 0.2s;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.tile:hover {
    border-radius: .25rem;
}

.tile-ground {
    background-color: var(--color-ground);
}
.tile-ground:hover {
    background-color: var(--color-ground-hover);
}

.tile-wall {
    background-color: var(--color-wall);
}
.tile-wall:hover {
    background-color: var(--color-wall-hover);
}

.tile-start {
    background-color: var(--color-start);
}
.tile-start:hover {
    background-color: var(--color-start-hover);
}

.tile-finish {
    background-color: var(--color-finish);
}
.tile-finish:hover {
    background-color: var(--color-finish-hover);
}

.visited-tile {
    background-color: var(--color-visited) !important;
    transition: background-color 0.5s;
}

.path-tile {
    background-color: var(--color-path) !important;
    transition: background-color 0.5s;
}

/*
*   TILE BUTTONS
*/

.asset-selection-area button {
    font-size: var(--font-size-s);
    color: var(--text-color-unimportant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 4rem;
    height: 4rem;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background: none;
    transition: background 0.1s;
}

.asset-selection-area button:hover {
    background: var(--background-color-complement-hover)!important;
}

.asset-selection-area button .label {
    position: absolute;
    top: .25rem;
    left: .25rem;
}

.asset-selection-area button .image {
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    margin-top: .5rem;
}

#selectGroundButton .image {
    background-color: var(--color-ground);
}

#selectWallButton .image {
    background-color: var(--color-wall);
}

#selectStartButton .image {
    background-color: var(--color-start);
}

#selectFinishButton .image {
    background-color: var(--color-finish);
}

#debug .image {
    background-color: #ff9811;
}

.speed-area {
    display: flex;
    flex-direction: flex;
    font-size: var(--font-size-s);
    color: var(--text-color-unimportant);
    margin-left: 2rem;
}

.speed-buttons {
    display: flex;
    gap: .25rem;
    margin-top: .15rem;
}

.speed-button {
    border-radius: .35rem;
    outline: .0625rem solid var(--speed-button-color);
    background: transparent;
    color: var(--speed-button-color);
    width: 1rem!important;
    height: 1rem!important;
    cursor: pointer;
    transition: background 0.12s, outline 0.12s;
}

.speed-button:hover {
    background: var(--speed-button-color-hover)!important;
    outline: .0625rem solid var(--speed-button-color)!important;
}

.speed-button.selected {
    background: var(--speed-button-color-active);
    color: var(--text-color-white);
}

.display-area {
    flex: 1;
}

.right-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--background-color-complement);
    border-bottom: 0.0625rem solid var(--color-border);
    display: flex;
    gap: 0.5rem;
    padding: 1rem 1rem;
    z-index: 1100;
}

.right-menu-button {
    font-size: var(--font-size-s);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: transparent;
    cursor: pointer;
    outline: 0.0625rem solid var(--algorithm-button-color);
    transition: background 0.12s, outline 0.12s;
}

.right-menu-button:hover {
    background: var(--background-color-complement-hover);
    outline: 0.0625rem solid var(--algorithm-button-color-hover);
}

/* Modal overlay */
.modal {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,0.45);
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: var(--background-color-complement);
    color: var(--text-color);
    padding: 3rem;
    border-radius: .5rem;
    width: min(60rem, 90%);
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0 6px 24px rgba(0,0,0,0.2);
    position: relative;
}

.modal-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.modal-cancel {
    background: transparent;
    border: .0625rem solid var(--color-border);
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: bachground 0.1s;
}

.modal-cancel:hover {
    background: var(--color-finish);
}

.modal-close:hover {
    color: var(--color-finish);
}

.test-table {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 0.0625rem solid var(--color-state);
    border-radius: 0.25rem;
    overflow: hidden;
}

/* Rows */
.test-table .row {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 0.0625rem solid var(--color-state);
}

.test-table .row:last-child {
    border-bottom: none;
}

/* Cells */
.test-table .cell {
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    border-left: 0.0625rem solid var(--color-state);
}

.test-table .cell:first-child {
    border-left: none;
}

/* Column sizing */
.test-table .cell.id,
.test-table .cell.title,
.test-table .cell.use-case,
.test-table .cell.acceptance-level,
.test-table .cell.interface,
.test-table .cell.purpose,
.test-table .cell.output,
.test-table .cell.input,
.test-table .cell.step {
    min-width: 160px;
}

.cell.step-number {
    flex: 0 0 3rem;
    font-weight: bold;
    text-align: center;
}

.cell.action,
.cell.action-text {
    flex: 0 0 25%;
}

.cell.expected,
.cell.expected-text {
    flex: 0 0 45%;
}

.cell.actual-text {
    flex: 1 1 25%;
    min-height: 40px;
}

.cell.step,
.cell.step-number {
    min-width: 4rem !important;
    width: 4rem !important;
}

.test-table .row:nth-child(odd) {
    background: var(--background-color-complement-hover);
}

@media (max-width: 900px) {
    .test-table .row {
        flex-direction: column;
        border-left: 0.0625rem solid var(--color-state);
        border-right: 0.0625rem solid var(--color-state);
        border-bottom: 0.0625rem solid var(--color-state);
    }

    .test-table .cell {
        position: relative;
        padding: 0.4rem 0.5rem;
        border-left: none;
        border-bottom: 0.0625rem solid var(--color-state);
    }

    .test-table .row:nth-child(n+7) .cell {
        padding-left: 6rem;
    }

    .test-table .cell:last-child {
        border-bottom: none;
    }

    .test-table .cell::before {
        position: absolute;
        left: 0.5rem;
        width: 5rem;
        font-weight: bold;
        color: #333;
        content: attr(data-label);
    }

    .cell.step-number {
        text-align: left;
        width: auto !important;
        background-color: var(--text-color-unimportant);
    }

    .cell.step, .cell.action, .cell.expected, .cell.actual {
        display: none;
    }

    .tile {
        width: 1.5rem;
        height: 1.5rem;
        border: .0625rem solid var(--color-box-border);
        box-sizing: border-box;
        transition: background-color 0.2s, border-radius 0.2s;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    .tile:hover {
        border-radius: .15rem;
    }

    #displayArea {
        padding: .5rem;
    }
}

@media (max-width: 650px) {
    .asset-selection-area {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 5rem;
        padding: .5rem;
        border-right: .0625rem solid var(--color-border);
        min-height: calc(100vh - 21.5rem);
        justify-content: space-between;
    }

    .asset-selection-area .main-buttons {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .control-panel {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        height: 8rem;
        padding: 1rem;
        border-bottom: .0625rem solid var(--color-border);
    }

    .speed-area {
        margin-left: 0;
    }

    .tile {
        width: 1.2rem;
        height: 1.2rem;
        border: .0625rem solid var(--color-box-border);
        box-sizing: border-box;
        transition: background-color 0.2s, border-radius 0.2s;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    .tile:hover {
        border-radius: .15rem;
    }
}
